<a href="https://colab.research.google.com/github/Pluviophile-1/MMO_LAB/blob/main/MMO_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 1.Импорт библиотеки и загрузка набора данных

Adult Income Набор данных: В этом наборе данных содержится информация о возрасте, типе работы, образовании, поле, этнической принадлежности, продолжительности рабочего времени и соответствующем уровне дохода (>$50K или <=$50K).В данном случае тип работы, образование, пол и раса - категориальные признаки, а возраст и количество отработанных часов - числовые признаки, и в наборе данных есть некоторые пропущенные значения.

In [12]:
# 安装必要的库
!pip install pandas scikit-learn

import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# 加载数据集
data = pd.read_csv('adult.csv')

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.11/dist-packages (1.6.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.11/dist-packages (from scikit-learn) (3.6.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

# 2.Просмотр основной информации о наборе данных

Узнайте основную информацию о наборе данных, включая форму, первые несколько строк данных, описательную статистическую информацию и тип данных в каждом столбце.

In [13]:
# 查看数据集基本信息
print("数据集基本信息：")
print("数据集形状：", data.shape)
print("数据集前5行：")
print(data.head())
print("数据集描述性统计信息：")
print(data.describe())
print("数据集的列名：")
print(data.columns)

数据集基本信息：
数据集形状： (28855, 15)
数据集前5行：
   age  workclass  fnlwgt     education  educational-num      marital-status  \
0   25    Private  226802          11th                7       Never-married
1   38    Private   89814       HS-grad                9  Married-civ-spouse
2   28  Local-gov  336951    Assoc-acdm               12  Married-civ-spouse
3   44    Private  160323  Some-college               10  Married-civ-spouse
4   18          ?  103497  Some-college               10       Never-married

          occupation relationship   race  gender  capital-gain  capital-loss  \
0  Machine-op-inspct    Own-child  Black    Male           0.0           0.0
1    Farming-fishing      Husband  White    Male           0.0           0.0
2    Protective-serv      Husband  White    Male           0.0           0.0
3  Machine-op-inspct      Husband  Black    Male        7688.0           0.0
4                  ?    Own-child  White  Female           0.0           0.0

   hours-per-week native-country income
0            40.0  United-States  <=50K
1            50.0  United-States  <=50K
2            40.0  United-States   >50K
3            40.0  United-States   >50K
4            30.0  United-States  <=50K
数据集描述性统计信息：
                age        fnlwgt  educational-num  capital-gain  \
count  28855.000000  2.885500e+04     28855.000000  28854.000000
mean      38.634344  1.897565e+05        10.073575   1070.827892
std       13.742880  1.054501e+05         2.559413   7463.025745
min       17.000000  1.349200e+04         1.000000      0.000000
25%       28.000000  1.175270e+05         9.000000      0.000000
50%       37.000000  1.781090e+05        10.000000      0.000000
75%       48.000000  2.384100e+05        12.000000      0.000000
max       90.000000  1.490400e+06        16.000000  99999.000000

       capital-loss  hours-per-week
count  28854.000000    28854.000000
mean      88.328273       40.442608
std      403.260391       12.384877
min        0.000000        1.000000
25%        0.000000       40.000000
50%        0.000000       40.000000
75%        0.000000       45.000000
max     4356.000000       99.000000
数据集的列名：
Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

# 3.Устранение пробелов в данных

In [14]:
print("缺失值情况：")
print(data.isnull().sum())

# 处理缺失值
for column in data.columns:
    if data[column].dtype == 'object':  # 分类特征
        # 使用众数填充缺失值
        mode_value = data[column].mode()[0]
        data[column] = data[column].fillna(mode_value)
    else:  # 数值特征
        # 使用中位数填充缺失值
        median_value = data[column].median()
        data[column] = data[column].fillna(median_value)

print("处理后的缺失值情况：")
print(data.isnull().sum())

缺失值情况：
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         1
relationship       1
race               1
gender             1
capital-gain       1
capital-loss       1
hours-per-week     1
native-country     1
income             1
dtype: int64
处理后的缺失值情况：
age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

# 4.Просмотр значений категориальных признаков в первом измерении, кодирование категориальных признаков

In [16]:
print("分类特征的唯一值：")
categorical_features = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']
for feature in categorical_features:
    if feature in data.columns:
        print(feature, ":", data[feature].unique())
    else:
        print(f"列 '{feature}' 不存在于数据集中")

分类特征的唯一值：
workclass : ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']
education : ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']
marital-status : ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse' 'Ma']
occupation : ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']
relationship : ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']
race : ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']
列 'sex' 不存在于数据集中
native-country : ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France']

In [17]:
# 确保分类特征列存在于数据集中
categorical_features = [feature for feature in categorical_features if feature in data.columns]
data = pd.get_dummies(data, columns=categorical_features)

In [ ]:
#

# 5.Нормализация числовых характеристик

In [18]:
numerical_features = ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', 'hours-per-week']
# 确保数值特征列存在于数据集中
numerical_features = [feature for feature in numerical_features if feature in data.columns]
scaler = MinMaxScaler()
data[numerical_features] = scaler.fit_transform(data[numerical_features])

# 6.Просмотр основной информации об обработанном наборе данных

In [19]:
print("处理后的数据集基本信息：")
print("数据集形状：", data.shape)
print("数据集前5行：")
print(data.head())
print("数据集描述性统计信息：")
print(data.describe())

处理后的数据集基本信息：
数据集形状： (28855, 108)
数据集前5行：
        age    fnlwgt  educational-num  gender  capital-gain  capital-loss  \
0  0.109589  0.144430                7    Male      0.000000           0.0
1  0.287671  0.051677                9    Male      0.000000           0.0
2  0.150685  0.219011               12    Male      0.000000           0.0
3  0.369863  0.099418               10    Male      0.076881           0.0
4  0.013699  0.060942               10  Female      0.000000           0.0

   hours-per-week income  workclass_?  workclass_Federal-gov  ...  \
0        0.397959  <=50K        False                  False  ...
1        0.500000  <=50K        False                  False  ...
2        0.397959   >50K        False                  False  ...
3        0.397959   >50K        False                  False  ...
4        0.295918  <=50K         True                  False  ...

   native-country_Portugal  native-country_Puerto-Rico  \
0                    False                       False
1                    False                       False
2                    False                       False
3                    False                       False
4                    False                       False

   native-country_Scotland  native-country_South  native-country_Taiwan  \
0                    False                 False                  False
1                    False                 False                  False
2                    False                 False                  False
3                    False                 False                  False
4                    False                 False                  False

   native-country_Thailand  native-country_Trinadad&Tobago  \
0                    False                           False
1                    False                           False
2                    False                           False
3                    False                           False
4                    False                           False

   native-country_United-States  native-country_Vietnam  \
0                          True                   False
1                          True                   False
2                          True                   False
3                          True                   False
4                          True                   False

   native-country_Yugoslavia
0                      False
1                      False
2                      False
3                      False
4                      False

[5 rows x 108 columns]
数据集描述性统计信息：
                age        fnlwgt  educational-num  capital-gain  \
count  28855.000000  28855.000000     28855.000000  28855.000000
mean       0.296361      0.119347        10.073575      0.010708
std        0.188259      0.071399         2.559413      0.074630
min        0.000000      0.000000         1.000000      0.000000
25%        0.150685      0.070441         9.000000      0.000000
50%        0.273973      0.111461        10.000000      0.000000
75%        0.424658      0.152290        12.000000      0.000000
max        1.000000      1.000000        16.000000      1.000000

       capital-loss  hours-per-week
count  28855.000000    28855.000000
mean       0.020277        0.402475
std        0.092574        0.126374
min        0.000000        0.000000
25%        0.000000        0.397959
50%        0.000000        0.397959
75%        0.000000        0.448980
max        1.000000        1.000000